
* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: lightgray;
  border: 3px solid yellow;
}
img {
  border: 3px solid red;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: #960808;
  color: white;
}
h1 {
  font-size: 30pt;
  text-shadow: 5px 5px 3px red;
}
h2 {
  font-size: 25pt;
  text-align: center;
  color: #960808;
}
h4 {
  color: #c26700;
}
ul {
  list-style-type: square;
}
ol li {
  font-weight: bold;
  font-size: 18pt;
}
iframe {
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 5;
}
.head {
  background-color: orange;
  padding: 10px;
  text-align: center;
}
.head img {
  height: 300px;
}
.topnav {
  overflow: hidden;
  background-color: red;
  font-size: 18pt;
}
.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.loaded {
  color: yellow !important;
  font-weight: bold;
}
.column {
  float: left;
  width: 25%;
  padding-right: 25px;
  padding-left: 10px;
}
.column.lside {
  width: 20%;
}
.links {
  line-height: 2;
}
.column.lside ol {
  font-size: 16pt;
}
.column.lside img {
  width: 70%;
}
.column.middle {
  width: 45%;
}
.column.middle img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column.rside {
  width: 20%;
}
.column.rside ul {
  font-size: 18pt;
  border: solid 3px yellow;
}
.column.rside img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 50px;
}
.webs {
  line-height: 1.5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  padding-right: 20px;
  overflow: hidden;
  background-color: red;
  color: white;
}
footer p {
  padding: 10px;
}
@@media screen and (max-wdith: 600px;) {
  .column.side, .column.middle, .column.rside {
    width: 100%
  }
}
