* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: lightgray;
  border: 3px solid yellow;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: black;
  color: white;
}
h1 {
  font-size: 30pt;
  text-shadow: 5px 5px 3px red;
}
h2 {
  font-size: 25pt;
  text-align: center;
  color: red;
}
.head {
  background-color: orange;
  padding: 10px;
  text-align: center;
  height: 500px;
}
.head img {
  height: 350px;
  width: 60%;
}
.topnav {
  overflow: hidden;
  background-color: red;
  font-size: 18pt;
}
.topnav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.loaded {
  color: yellow !important;
  font-weight: bold;
}
.column {
  float: left;
  width: 25%;
  padding-right: 25px;
  padding-left: 10px;
}
.column.lside {
  width: 25%;
}
.column.lside ol {
  font-size: 16pt;
}
.column.middle {
  width: 50%;
}
.mainlist li {
  font-weight: bold;
  font-size: 16pt;
}
.column.rside {
  width: 25%;
}
.column.rside li {
  font-size: 18pt;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  padding-right: 20px;
  overflow: hidden;
  background-color: red;
  color: white;
}
footer p {
  padding: 10px;
}
@@media screen and (max-wdith: 600px;) {
  .column.side, .column.middle, .column.rside {
    width: 100%
  }
}
